In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Base7.csv")
df2 = pd.read_csv("lgb_depth_large.csv")

In [3]:
pred = df.copy()

In [4]:
pred.head()

      ward  target_pct_vunerable
0  00A93O0             15.969000
1  01V40KO             32.095179
2  01ZHVW0              5.201022
3  028YQJX              2.057382
4  02G8W11             -0.483268

In [5]:
pred['target_pct_vunerable'] = (df['target_pct_vunerable'] + df2['target_pct_vunerable'])/2

In [6]:
pred.head()

      ward  target_pct_vunerable
0  00A93O0             14.354788
1  01V40KO             31.590520
2  01ZHVW0              5.431357
3  028YQJX              2.109055
4  02G8W11             -0.322807

In [7]:
df2.head()

      ward  target_pct_vunerable
0  00A93O0             12.740576
1  01V40KO             31.085861
2  01ZHVW0              5.661693
3  028YQJX              2.160729
4  02G8W11             -0.162347

In [8]:
pred.to_csv("enst.csv",index=False)